<style>
	.about-text {
		margin: 0;
		margin-left: 10px;
		margin-right: 10px;
		padding: 0;
	}

	.about-name {
		background: rgb(34, 34, 34);
		color: #fff;
		padding: 10px;
	}

	.about-icon {
		margin: 0;
		width: 24px;
	}

	.about-count {
		word-spacing: 22px;
	}

	@media (max-width: 700px) {
		.about-container {
			padding: 20px;
		}
	}

	.about-space {
		word-spacing: 2px;
	}
</style>

<div class="about-container">
	<h2 class="about-name">Information</h2>
	<p class="about-text">
		<i class="fa fa-user about-icon"></i>
		<b>진준기 / JuunKi Jin</b></p>
	<p class="about-text">
		<i class="fa fa-envelope about-icon"></i>
		<a href="mailto://ruto1924@gmail.com">ruto1924@gmail.com</a></p>
	<p class="about-text">
		<i class="fa fa-map-marker about-icon"></i>
		<a href="http://w1nn3r.space">http://w1nn3r.space</a></p>

	<h2 class="about-name">Experience</h2>
	<p class="about-text">아직 경험이 없어요!</p>

	<h2 class="about-name">Skill Sets</h2>
	<p class="about-text about-count">Android Gradle Kotlin Firebase Java Java8 Realm Retrofit Anko RxJava RxAndroid <span class="about-space">Architecture Components</span></p>

	<h2 class="about-name">Activity</h2>
	<p class="about-text">
		<b>2014 - 2015 . 안드로이드 개발자</b> . Netdict팀
	</p>
	<p class="about-text">
		<b>2017 - 2017 . 안드로이드 개발자</b> . 점쏙옙팀
	</p>

	<h2 class="about-name">Portfolio</h2>
	<p class="about-text">
		<b>2014 - 2015 . 안드로이드 . Netdict .</b> 기성세대를 위해 신세대에서 생겨난 신조어들을 손쉽게 찾아볼 수 있게 만든 단어사전 서비스. Server와 통신하기 위한 모듈 개발
	</p><br>
	<p class="about-text">
		<b>2016 - 2017 . 안드로이드 . Edison .</b> 위치관리 솔루션 개발. 안드로이드 비지니스 로직 작성
	</p><br>
	<p class="about-text">
		<b>2017 - 2017 . 안드로이드 . Dimibob .</b> 스마트 워치에서 확인 가능한 간단한 급식 뷰어. Kotlin 사용
	</p><br>
	<p class="about-text">
		<b>2017 - 2017 . 안드로이드 . 가로등 .</b> 삼성 주니어 소프트웨어 공모전에서 제작한 전자 처방전 앱.
	</p><br>
</div>