.article {
	&.simple {
		&::after {
			margin: 70px 0;
			content: '-';
			display: block;
			color: rgba(0, 0, 0, 0.4);
			font-size: 40px;
			line-height: 0;
			width: 100%;
			text-align: center;

			@media (max-width: $mobile-break) {
				margin: 55px 0;
			}
		}

		&:last-child {
			&::after {
				content: '';
				margin: 100px 0;
			}
		}
	}

	&--cover_image {
		margin-top: 22px !important;
		margin-bottom: 0 !important;

		& + p {
			margin-top: 10px !important;

			@media (max-width: $mobile-break) {
				margin-top: 0px !important;
			}
		}
	}

	&--default {
		background-color: rgba(0, 0, 0, 0.04);
		margin: 24px 0 0 0 !important;
		padding: 10px 16px;
		font-size: 0.95rem !important;
		line-height: 1.5;
		border-left: 8px solid grey;
	}

	&--warning {
		@extend .article--default;
		border-left: 8px solid #FDD835;
	}

	&--bug {
		@extend .article--default;
		border-left: 8px solid #f44336;
	}

	&--info {
		@extend .article--default;
		border-left: 8px solid #4CAF50;
	}

	&--title {
		font-weight: 900 !important;
		font-size: 2.7rem !important;
		margin-bottom: 3px !important;

		a {
			text-decoration: none;
		}

		@media (max-width: $mobile-break) {
			font-size: 2.2rem !important;
		}
	}

	&--date {
		font-size: 0.9rem;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.3);
	}

	&--summery {
		margin: 13px 0 20px 0 !important;

		a {
			text-decoration: none;
		}

		&--more {
			font-size: 800;
			font-style: italic;
		}
	}

	&--space {
		height: 24px;
	}

	&--author {
		color: rgba(0, 0, 0, .4) !important;
		font-style: italic;

		&:before {
			display: block;
			content: '';
			height: 1px;
			width: 32px;
			margin-bottom: 24px;
			background-color: rgba(0, 0, 0, .4);
		}
	}

	@media (max-width: $max-width) {
		padding: 0px 16px;
	}

	& > p {
		margin: 24px 0;
		font-size: 0.97rem;
		color: rgba(0, 0, 0, 0.67);
		font-weight: 500;
		line-height: 1.64;

		@media (max-width: $mobile-break) {
			line-height: 1.64;
			font-size: 1.02rem;
		}
	}

	a {
		color: black;
	}

	em {
		font-style: italic;
	}

	ul {
		list-style: disc;
		padding-left: 24px;

		li {
			padding: 6px 0;
		}
	}

	ol {
		padding-left: 24px;
		list-style-type: lower-alpha;
	}

	.comment-box {
		margin-top: 36px;
		padding-top: 42px;
		border-top: 1px solid rgba(0, 0, 0, 0.14);

		small {
			text-align: left !important;
			color: rgba(0, 0, 0, 0.5) !important;
			font-size: 14px !important;
			display: block;
		}
	}

	sup {
	    font-size: 12px;
	    padding-left: 2px;
	    padding-right: 3px;

	    a {
	    	color: rgb(2, 119, 189);
	    	font-weight: 700;
	    }
	}

	small {
		text-align: center;
		display: block;
		color: rgba(0, 0, 0, 0.5);
		padding-bottom: 16px;
	}

	blockquote {
		box-sizing: border-box;
		padding: 1px 16px;
		margin: 8px 0;
		background-color: rgba(0, 0, 0, 0.04);
		border-left: 6px solid rgba(0, 0, 0, 0.2);
	}

	h1 {
		font-size: 1.8rem;
		font-weight: 700;
		margin-top: 32px;
		margin-bottom: 16px;
	}

	h2 {
		font-size: 1.7rem;
		font-weight: 700;
		margin-top: 48px;
		margin-bottom: 16px;
	}

	h3 {
		font-size: 1.6rem;
		font-weight: 700;
		margin-top: 48px;
		margin-bottom: 16px;
	}

	h4 {
		font-size: 1.5rem;
		font-weight: 700;
		margin-top: 48px;
		margin-bottom: 16px;
	}

	h5 {
		font-size: 1.4rem;
		font-weight: 700;
		margin-top: 48px;
		margin-bottom: 16px;
	}

	h6 {
		font-size: 1.3rem;
		font-weight: 700;
		margin-top: 48px;
		margin-bottom: 16px;
	}

	h3 + p {
		margin-top: 16px;
	}

	code.highlighter-rouge {
		background-color: rgba(0, 0, 0, 0.04);
		margin: 0 1px;
		padding: 0 3px;
		border-radius: 2px;
        color: rgba(256, 20, 80, .8);
	}

	strong {
		font-weight: 700;
		color: black;
	}

	pre {
		display: block;
		background-color: rgba(0,0,0,.8);
		overflow-y: hidden;
		overflow-x: scroll;
		font-size: 14px;
		padding: 15px;
		border-radius: 4px;
		color: #f8f8f2;
		line-height: 1.4;
		margin: 30px auto;
		white-space: pre;
		vertical-align: baseline;

		code {
			font-size: 14px;
			font-stretch: normal;
			font-variant-caps: normal;
			vertical-align: baseline;
		}
	}

	img {
		width: 100%;
		max-height: 700px;
		text-align: center;
	}

	figure {
		margin: 0;
		max-width: calc(100vw - 32px);
	}

	.highlighter-rouge {
		max-width: calc(100vw - 32px);
	}
}