.nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;

    height: 64px;

    background-color: white;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    $nav-padding: 16px;
    @media (max-width: $max-width + $nav-padding * 2) {
        padding: 0 $nav-padding;
    }

    @media (max-width: $mobile-break) {
        padding: 0 $nav-padding;
        height: 56px;
    }

    &__container {
        max-width: $max-width;
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-weight: 900;
        font-size: 1.3rem;
        letter-spacing: 2px;
        
        color: black;
        text-decoration: none;

        &:after {
            content: 'ATKODEV.';

            @media (max-width: $mobile-break) {
                content: 'AD.';
            }
        }
    }

    &__menu {
        color: black;
        list-style-type: none;
        padding: 0;

        &__item {
            margin: 0 0 0 8px;
            display: inline;

            a {
                color: rgba(0, 0, 0, 0.7);
                font-weight: 700;
                text-decoration: none;

                @media (max-width: $mobile-break) {
                    display: none;
                }
            }

            &--type {
                &-toggle {
                    font-weight: 900;
                    font-size: 1.6rem;
                }
            }

            &--only {
                &-mobile {
                    display: none;

                    @media (max-width: $mobile-break) {
                        display: inline;
                    }
                }
            }
        }
    }

    &__drawer {

    }
}

.drawer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10100;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.88);

    &__controller {
        display: none;
    }

    &__controller:checked + & {
        display: flex;
    }

    &__menu {
        color: white;
        font-weight: 900;
        font-size: 2rem;
        text-align: center;
        list-style-type: none;
        padding: 0;

        &__item {
            margin: 16px 0;

            &:last-child {
                margin-top: 64px;
            }

            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}